.card .card-header {
    padding: 20px 30px 0;
}

/* Tables */
.dataTables_wrapper table.dataTable {
    border: 1px solid #f7e0e0;
}
.dataTables_wrapper table.dataTable th {
    padding: 12px 0.75rem !important;
}
.dataTables_wrapper table.dataTable td {
    padding: 0.4rem 0.65rem !important;
}
.table th {
    border-top: inherit;
}
.table td {
    border-top: 1px solid #f7e0e0;
}
table thead th {
    border-bottom: 2px solid #f7e0e0 !important;
}
.dataTables_wrapper table.dataTable th {
    background-color: inherit !important;
}
.dataTables_wrapper table.dataTable tbody tr.even {
    background-color: #fff6f675 !important;
}
.dataTables_wrapper table.dataTable tbody tr:hover {
    background-color: #f3e2e275 !important;
}

/* table Pagination */
.page-link {
    color: #ff8286;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ff8286;
    border-color: #ff8286;
}

/*CkeEditior*/
#cke_htmlContent {
    margin-left: 20px;
}
