.top-header .header-contact a,
.top-header .header-contact i.fa{
    color: white;
}

footer p { 
    color: white ;
}
.footer-theme .sub-title li {
    text-transform: inherit;
}
.product-box .product-detail h4, 
.product-box .product-info h4, 
.product-wrap .product-detail h4, 
.product-wrap .product-info h4 {
    color: #81ba00;
}


.product-box .product-detail h6,
 .product-box .product-info h6, 
 .product-wrap .product-detail h6,
  .product-wrap .product-info h6 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bolder;
}
.breadcrumb-section {
    background-color: #f8f8f8;
    padding: 15px 0;
}
.contact-page .contact-right ul li .contact-icon h6 {
    text-transform: uppercase;
    padding-top: 5px;
    font-weight: 600;
    color: #81b900;
}
.contact-page .contact-right ul li .contact-icon i {
    font-size: 20px;
    color: #81b900;
}
a{
    color : #777777;
}
.sticky {
    position: fixed;
    z-index: 100;
    width: 100%;
    webkit-box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 0.62);
    box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 0.62);
    }
/* Sidebar */
.sidebar .list-group-item {
    padding: 0.75rem 0 !important;
    border:none;
} 
.collection-collapse-block .collapse-block-title {
    margin: 30px 0px;
}

.absolute-banner {
    margin-top: -100px !important;
}


.full-banner .banner-contain h3,
.full-banner .banner-contain h4 {
    color: #ffffff;
}    

.service-block p {
    text-transform: inherit !important;
}

.full-banner .banner-contain h2 {
    font-size: 70px;
    background: #81ba0030;
}